* {
  box-sizing: border-box;
}

body{
  background-color: #ececec;
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0px;
}


.navbar {
  overflow: hidden;
  background-color: #ececec;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 5px 10px 20px #dfdfdf;
}

.navbar a {
  float: right;
  display: inline-block;
  color: #5d7581;
  text-align: center;
  padding: 35px 35px;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background: #dde1e4;
  color: #365464;
  transition: 0.8s;
}

.active {
  background: #d8e8f4;
}

.main{
  margin-left: 40px;
  padding: 70px;
  margin-top: 50px;
  color: #5d7581;
  /* height: 1500px; */
}

.Vcenter{
  margin: 0;
  z-index: -500;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row {
  content: "";
  display: table;
  clear: both;
}